<launch>

  <!-- flag to enable joint_state_publisher with gui -->
  <arg name="gui" default="true"/>

  <!-- urdf path -->
  <arg name="model" default="$(find panthera_description)/urdf/panthera.urdf"/>
  <!-- <arg name="model" default="$(find panthera_description)/urdf/panthera_with_2d_laser.urdf"/> -->
  <!-- <arg name="model" default="$(find panthera_description)/urdf/panthera_with_velodyne.urdf"/> -->

  <!-- rviz configuration path -->
  <arg name="rvizconfig" default="$(find panthera_description)/rviz/rviz_display.rviz" />

  <!-- load urdf into robot_description parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- joint_state_publisher -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- rivz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>